
#header {
    text-align: center;
    width: 100%;
}
#options {
    text-align: center;
    width: 100%;
}
body{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-repeat: no-repeat;
}
.canvas {
    width: 100%;
    display: grid;
    /*grid-template-columns: repeat(10, 13px);*/
    width: 1px;
    background-color: rgb(112, 112, 236);
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 10px;
    height: 10px;
    padding: 1px;
}
.grid-item-black {
    background-color: rgba(12, 11, 11, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 10px;
    height: 10px;
    padding: 1px;
}
/*.grid-item:hover {
    background-color: rgba(8, 8, 8, 0.8);
}*/
#controls {
    padding: 2rem;
    width: 100%;
    text-align: center;
}